{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>AI 산림 훼손 탐지 서비스</title>
  </head>

  <style>
    h1 {
      text-align: center;
    }

    /* 버튼 수평으로 가운데 정렬 */
    .button-container {
      text-align: center;
    }

    .button-container button {
      display: inline-block;
      width: 150px; /* 버튼의 너비를 조절할 수 있습니다. */
      /* 아래의 두 가지 속성을 사용하여 버튼을 수평으로 가운데 정렬합니다. */
      margin: 0 auto;
      text-align: center;
    }
  </style>
  <body>
    <h1>AI 산림 훼손 탐지 서비스</h1>
    <div class="button-container">
      <button
        id="sattlliteButton"
        onclick="location.href='{% url 'satellite_map:satellite_map' %}'"
      >
        위성 지도
      </button>
      <button
        id="detectionButton"
        onclick="location.href='{% url 'forest_detection:forest_detection' %}'"
      >
        AI 산림 훼손 탐지
      </button>
    </div>
  </body>
</html>
